<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"></script>
</head>
<body>
    <form action="/posts/update" accept-charset="utf-8" method="post" name="updatedPost" >
        <input type="hidden" th:value=${existPost.postId} name="postId">
        <p>
            <label>제목</label>
            <input type="text" th:value=${existPost.title}  readonly="readonly">
        </p>
        <p>
            <label>내용</label>
            <input type="text" th:value=${existPost.contents} name="contents">
            
        </p>
        
        <p>
            <input type="submit" value="수정">
        </p>
    </form>
</body>
</html>
